Releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 

    <xs:element name="releve">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dateReleve" type="xs:date"></xs:element>
                <xs:element name="solde" type="xs:double"></xs:element>
                <xs:element name="operations" maxOccurs="unbounded" type="type_operations"></xs:element>
            </xs:sequence>
            <xs:attribute name="RIB" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="type_operations">
        <xs:sequence>
            <xs:element name="operation" maxOccurs="unbounded" type="type_operation"></xs:element>
        </xs:sequence>
        
        <xs:attribute name="dateDebut" type="xs:date" use="required"></xs:attribute>
        <xs:attribute name="dateFin" type="xs:date" use="required"></xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="type_operation">
        <xs:attribute name="type" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="date" type="xs:date" use="required"></xs:attribute>
        <xs:attribute name="montant" type="xs:double" use="required"></xs:attribute>
        <xs:attribute name="description" type="xs:string" use="required"></xs:attribute>
    </xs:complexType>
</xs:schema>
